.navbarColor {
  background: "#1C3643";
}

.navbar-brand-custom {
  color: #ffffff;
}

.navbar-brand-custom:hover {
  color: #ffffff;
}

.navarTitle {
  vertical-align: text-top;
}

.relojTag{
  color:white;
  font-size: 20px;
}

.reloj {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background: #4485a5;
  color: white;
  /* font-size: 20px; */
}
